.userPanel {
  width: 75%;
  margin: auto;
  background: black;
  box-shadow: 0px 0px 20px 5px rgb(255, 238, 0);
}

.userPanel-header {
  padding: 0.5rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column {
  font-size: 15px;
}

.column img {
  border-radius: 25px;
}

.userPanel-body {
  position: relative;
  color: white;
  overflow: hidden;
}

.userPanel-body-options {
  width: 20%;
  display: inline-block;
}

.userPanel-body-option {
}

.userPanel-body-option:hover {
}

.userPanel-body-option h2 {
  margin: 0;
  padding: 0.5rem;
}

.userPanel-body-option__link {
  display: block;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  transition: all 0.5s;
}

.userPanel-body-option__link:hover {
  background: rgb(211, 203, 203);
}

.userPanel-body-info {
  vertical-align: top;
  display: inline-block;
  width: 80%;
  background: rgb(255, 243, 243);
  padding-left: 1.5rem;
  color: black;
}
