.game-tile {
  position: relative;
  overflow: hidden;
  background: rgb(221, 218, 41);
  border: 2px solid black;
  text-align: center;
  cursor: pointer;
}

.game-tile:hover {
  filter: brightness(80%);
}

.game-tile-image {
  width: 85%;
  height: 16rem;
  border: 2px solid black;
  border-top: none;
}

.game-tile-title {
  margin: 0;
  margin-top: 20px;
  text-align: center;
  font-weight: 500;
  font-family: Calibri;
}

.game-tile-price {
  font-size: large;
  text-align: left;
  color: white;
  background: rgb(18, 170, 221);
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px;
  padding-left: 10px;
  width: 60%;
  height: 2rem;
  border-radius: 10px;
}

.game-tile-banner {
  color: white;
  background: green;
  position: absolute;
  width: 10rem;
  /* margin-top: 5px; */
  top: 0;
  right: 0;
  transform: rotateZ(45deg) translateY(-1.5rem) translateX(3rem);
}
