.features {
  padding: 15rem 2rem;
}

.features__heading {
  opacity: 0;
  margin: 0;
  font-size: 3rem;
  color: #fff;
  font-weight: 100;
  animation: moveInLeft 1s ease-out 0.2s forwards;
}

.features__quote {
  color: white;
  font-size: 0.8rem;
  animation: moveInRight 1s ease-out;
}

.features__author {
  display: block;
  opacity: 0;
  animation: moveInLeft 1s ease-out 0.5s forwards;
}

.u-center-text {
  text-align: center;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn-white {
  background-color: #fff;
  color: #777;
  padding: 15px 40px;
  display: inline-block;
}

.btn-white:hover {
  background-color: rgb(213, 123, 123);
  color: #fff;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.home-column {
  margin-top: 1rem;
}

.slideshow {
  display: inline-block;
  position: relative;
  width: 60%;
  background: rgba(255, 255, 255, 0.2);
}

.slideshow__wrapper {
  position: relative;
  width: 100%;
  margin: auto;
  transform-origin: 50% 50%;
  /*transform: skewX(0deg) scale(1);
  transition: all 1s ease-in; */
  overflow: hidden;
}

.slideshow__slider {
  height: 30rem;
  display: flex;
  position: relative;
  /* left: -510px; */
  width: 10000px;
}

.slideshow__slider.shifting {
  transition: left 0.5s ease-out;
}

.wrapper:hover {
  /* transform: skewX(-10deg) scale(1.05) rotateZ(5deg) translateX(40px); */
}

.slides img {
  height: 100%;
  /* width: 510px; */
  transform: skewX(0deg) scale(1);
}

.fadeIn {
  animation: fadeIn 1s 0s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.slideshow__btn {
  position: absolute;
  top: 45%;
  height: 3rem;
  width: 2.5rem;
  background-color: #fdc90e;
  opacity: 0.8;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.slideshow__btn:focus {
  outline: none;
}
.slideshow__btn:hover {
  opacity: 1;
  background: rgb(242, 10, 10);
  color: #fdc90e;
}

.slideshow__btn--left {
  left: 0;
}

.slideshow__btn--right {
  right: 0;
  border-radius: 10px 0 0 10px;
}

.main {
  display: inline-block;
  width: 38%;
  margin-left: 2%;
  vertical-align: top;
}

.new-games-main {
  width: 100%;
  height: 15rem;
  background: #fdc90e;
  padding: 0px 0px;
  /* transform-origin: 50% 50%;
  transform: scale(1); */
  opacity: 1;
  transition: all 2s;
  animation: wiggle 2s 0s 4 alternate;
}

.new-games-main:hover {
  /* transform: scale(1.2); */
  opacity: 1;
  transform: skewX(-10deg) scale(1.05) rotateZ(5deg) translateX(40px);
}

@keyframes wiggle {
  0% {
    transform: translateX(30px);
    opacity: 1;
  }
  100% {
    transform: translateX(-30px);
    opacity: 0.5;
  }
}

.new-games-image-wrapper {
  width: 100%;
  height: 100%;
}

.new-games-image-wrapper img {
  width: 33.33333%;
  height: 100%;
}

.merchandise-main {
  width: 100%;
  margin-top: 1rem;
}

.merchandise-image-wrapper {
  height: 14rem;
  margin-left: 0rem;
}

.merchandise-image-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 0rem;
}

.console-main {
  display: inline-block;
  width: 50%;
}

.console-image-wrapper {
  width: 100%;
  height: 20rem;
  cursor: pointer;
}

.console-image-wrapper img {
  width: 100%;
  height: 100%;
}

.console-image-wrapper img:hover {
  filter: brightness(90%);
}

.equipment-main {
  display: inline-block;
  width: 48%;
  margin-left: 2%;
}

.equipment-image-wrapper {
  width: 100%;
  height: 20rem;
  cursor: pointer;
}

.equipment-image-wrapper img {
  width: 100%;
  height: 100%;
}

.equipment-image-wrapper img:hover {
  filter: brightness(90%);
}

.game-slider__wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  overflow: hidden;
}

.game-slider {
  display: flex;
  position: relative;
  height: 10rem;
}

.game-slider.transition {
  transition: left 0.2s ease-out;
}

.game-slider__wrapper img {
  /* height: 8rem; */
}
