$color-yellow-dark: #fdc90e;
$color-yellow-dark-1: #ffde66;
$color-yellow-light: #f1f104;

$color-red-dark: #8b0000;
$color-red-light: #ffcccb;
$color-red-light-1: #ff3430;

$color-white-1: #ffffff;
$color-white-2: #eaeaea;

$color-black-1: #000000;

$color-grey-1: #4a4b5c;
