.modal {
  width: 50%;
  max-width: 45rem;
  height: 50%;
  position: fixed;
  left: 50vw;
  top: 0%;
  z-index: 100;
  background: white;
  color: black;

  transition: all 1s ease-out;
  transform: translateX(-50%) translateY(-100vh);
  opacity: 0;
}

.showModal {
  transform: translateX(-50%) translateY(20vh);
  opacity: 1;
}
