.options {
  margin-top: 0.5rem;
}

.options__title {
  margin: 0;
  font-size: 12px;
  color: #ffffff;
}

.options__wrapper input {
  vertical-align: middle;
  margin: 0;
  margin-right: 5px;
}

.options label {
  vertical-align: middle;
  font-size: 12px;
  color: #cccccc;
}
