.Error {
  height: 5rem;
  background: rgb(238, 19, 19);
  color: white;
  border-radius: 25px;
}

.description {
  font-family: cursive;
  font-weight: bold;
  padding: 25px;
  margin: 0;
  text-align: center;
}
