.add-game {
  font-family: Calibri;
  height: 5vh;
  margin-top: 2rem;
  text-align: center;
}

.add-game-button {
  width: 46%;
  padding: 10px;
  color: white;
  background: green;
  border: 1px solid yellow;
  font-weight: bold;
  cursor: pointer;
}

.add-game-button:hover,
.add-game-button:active {
  color: green;
  background: white;
  font-size: larger;
  border: 5px solid yellow;
}

.add-game-button:focus {
  outline: none;
}

.game-list {
  border: 5px solid black;
  font-family: Calibri;
  font-size: large;
}

.game-list__header {
  background: firebrick;
}

.game-list__image {
  height: 3rem;
  width: 3rem;
}
