.add-game-form {
  font-family: Calibri;
  font-size: large;
  width: 80%;
  max-width: 55rem;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
  border: 1px black solid;
  background: rgb(221, 66, 105);
  border-radius: 2rem;
  text-align: center;
}

.add-game-form label {
  font-weight: bold;
}

.add-game-form label,
.add-game-form input,
.add-game-form textarea,
.add-game-form select {
  font-family: Calibri;
  width: 60%;
  font-weight: bold;
  display: block;
  height: 2rem;
  margin: auto;
  margin-top: 0.5rem;
}

.add-game-form .form-group-console {
  margin: auto;
  width: 60%;
}

.add-game-form .form-group-console input {
  width: 5%;
  display: inline-block;
}

.add-game-form .form-group-console label {
  vertical-align: bottom;
  margin-left: 4px;
  /*text-align: left;*/
  width: 40%;
  display: inline-block;
}

.add-game-form textarea {
  height: 5rem;
}

.add-game-form .form-group-pegiRating label[for="rating"] {
  vertical-align: bottom;
  margin-top: 0;
  display: inline-block;
  width: 1.5rem;
}

.add-game-form input[type="radio"] {
  margin-top: 0;
  display: inline-block;
  width: 1rem;
}

.add-game-form label:focus,
.add-game-form input:focus,
.add-game-form textarea:focus,
.add-game-form select:focus {
  outline: none;
}

.add-game-submit-btn {
  font-weight: bold;
  background: rgb(5, 218, 246);
  border: 2px solid black;
  display: block;
  width: 5rem;
  height: 2rem;
  margin: auto;
  margin-top: 1rem;
  border-radius: 15px;
}

.add-game-submit-btn:hover,
.add-game-submit-btn:active {
  background: green;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.add-game-submit-btn:focus {
  outline: none;
}

.add-game-submit-btn:disabled {
  border: 1px black solid;
  background: lightslategray;
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
  opacity: 1;
}

.add-game-submit-btn:disabled:hover {
  background: red;
}

.add-game-form input[type="file"] {
  text-align: center;
  color: black;
  width: 50%;
  display: inline-block;
}
