.add-game-form {
  width: 80%;
  max-width: 40rem;
  margin: auto;
  margin-bottom: 1rem;
  border: 1px black solid;
  padding: 1rem;
  background: rgb(214, 208, 210);
  font-size: 15px;
}

.add-game-form .form-group {
  margin: auto;
  width: 100%;
}

.add-game-form .form-group label,
.add-game-form .form-group input,
.add-game-form .form-group textarea,
.add-game-form .form-group select {
  width: 100%;
  display: block;
  margin: auto;
  margin-top: 0.5rem;
}

.add-game-form label:focus,
.add-game-form input:focus,
.add-game-form textarea:focus,
.add-game-form select:focus {
  outline: none;
}

.add-game-form .form-group label {
  height: auto;
  width: auto;
  text-align: left;
}

.add-game-form .form-group textarea {
  height: 5rem;
}

.add-game-form .form-group-pegiRating label[for="rating"] {
  margin-top: 0px;
  display: inline-block;
}

.add-game-form input[type="radio"] {
  margin-right: 5px;
  margin-top: 0px;
  display: inline-block;
  width: 1rem;
}

.add-game-form .form-group-console label {
  vertical-align: bottom;
  margin-left: 4px;
  width: 40%;
  display: inline-block;
}

.add-game-form .form-group-console input {
  width: 5%;
  display: inline-block;
}

.add-game-submit-btn {
  font-weight: bold;
  background: rgb(5, 218, 246);
  border: 2px solid black;
  display: block;
  width: 5rem;
  height: 2rem;
  margin: auto;
  margin-top: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.add-game-submit-btn:hover,
.add-game-submit-btn:active {
  background: green;
  border: 2px solid white;
  color: white;
}

.add-game-submit-btn:focus {
  outline: none;
}

.add-game-submit-btn:disabled {
  border: 1px black solid;
  background: lightslategray;
  color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
  opacity: 1;
}

.add-game-submit-btn:disabled:hover {
  background: red;
}

.add-game-form input[type="file"] {
  text-align: center;
  color: black;
  width: 50%;
  display: inline-block;
}
