.console-tile {
  position: relative;
  overflow: hidden;
  vertical-align: top;
  height: 25rem;
  width: 23%;
  margin: 1%;
  background: rgb(228, 206, 81);
  display: inline-block;
}

.console-tile:hover {
  filter: brightness(80%);
  cursor: pointer;
}

.console-image {
  width: 100%;
  height: 60%;
  text-align: center;
  margin: auto;
  display: block;
}

.console-logo {
  width: 25%;
  height: 5%;
  text-align: center;
  margin: auto;
  display: block;
}

.console-title {
  margin: 0;
  text-align: center;
}

.console-price {
  width: 50%;
  position: absolute;
  bottom: 2rem;
  left: 25%;
  /* margin: auto; */
  padding: 5px;
  background: rgb(18, 170, 221);
  border-radius: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.console-banner-new {
  position: absolute;
  top: 0;
  right: 0;
  background: firebrick;
  color: white;
  font-weight: bold;
  transform: rotateZ(45deg) translateX(2.3rem) translateY(-1.5rem);
  width: 8rem;
  text-align: center;
}
