.main-game-grid {
  background: black;
  margin: 2rem;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: auto 25rem;
  grid-template-areas:
    "search games"
    "search games";
}

.game-search-options {
  color: white;
  border: 0px solid yellow;
  background: black;
}

.games-list-container {
  border: 2px solid yellow;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
