@import "../../sass//main.scss";

.games-grid {
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
  background: $color-red-dark;

  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(2, auto) 25rem;
  grid-template-areas:
    "filter filter"
    "search games"
    "footer footer";

  &__search-filter {
    grid-area: filter;
    border-bottom: 1px solid white;
  }

  &__search-filter h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    padding: 1rem 0.5rem;
  }

  &__search-options {
    grid-area: search;

    padding: 0.5rem 1rem;
    position: sticky;
    top: 7rem;
  }

  &__games {
    padding: 0.5rem 0.5rem;
    grid-area: games;

    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}
