.games-grid {
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
  background: black;

  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: repeat(2, auto) 25rem;
  grid-template-areas:
    "filter filter"
    "search games"
    "search footer";
}

.games-grid__search-filter {
  grid-area: filter;
  border-bottom: 1px solid white;
}

.games-grid__search-filter h2 {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.games-grid__search-options {
  grid-area: search;
  color: white;
  margin-left: 5px;
  position: sticky;
  top: 7rem;
}

.games-grid__games {
  padding-right: 0.5rem;
  grid-area: games;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
