.manage-product-header {
  /* width: 98%; */

  margin: auto;
  margin-bottom: 1rem;
  padding-top: 1rem;
  text-align: left;
}

.manage-product-header h2 {
  margin: 0;
}

.manage-products-add-btn-wrapper {
  /* width: 98%; */

  margin: auto;
  margin-bottom: 1rem;
}

.manage-products-add-btn-wrapper button {
  width: 10%;
  height: 2rem;
  background: black;
  color: white;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.5s;
}

.manage-products-add-btn-wrapper button:hover {
  background: #cccccc;
  color: black;
}

.manage-products-add-btn-wrapper button:focus {
  outline: none;
}

.product-table-wrapper {
  overflow: hidden;
  height: 35rem;
  overflow-y: scroll;
}

.product-table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  border: 1px solid black;
  font-size: 13px;
}

.product-table-header {
  /* position: sticky;
  top: 0; */
  background: black;
}

thead tr:first-child {
  background: black;
  color: white;
  font-size: 12px;
}

thead tr:first-child:hover {
  background: black;
}

th {
  position: sticky;
  background-color: black;
  z-index: 2;
  top: 0;
}

tbody {
}

tr {
  cursor: pointer;
}

tr:nth-child(odd) {
  background: white;
}

tr:nth-child(odd):hover {
  background: darkgray;
}

tr:nth-child(even) {
  background: #e1dede;
}

tr:nth-child(even):hover {
  background: #818688d0;
}

.product-row img {
  width: 4rem;
  height: 3rem;
}

.product-update-btn,
.product-delete-btn {
  padding: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.product-update-btn {
  background: rgb(20, 186, 204);
  border: 1px solid black;
}

.product-delete-btn {
  background: rgb(211, 13, 13);
  border: 1px solid black;
}

.product-update-btn:hover {
  background: rgb(20, 186, 204, 0.5);
  color: white;
}

.product-delete-btn:hover {
  background: rgb(211, 13, 13, 0.5);
  color: white;
}

.product-update-btn:focus,
.product-delete-btn:focus {
  outline: none;
}

.product-form {
  margin-top: 2rem;
}
