.consoles {
  position: relative;
  background: black;
  width: 75%;
  margin: auto;
  margin-bottom: 2rem;
}

.consoles__search-options {
  position: sticky;
  top: 7rem;

  display: inline-block;
  width: 20%;
  padding-left: 5px;

  vertical-align: top;
  text-align: left;
  color: white;
}

.consoles__consoles {
  display: inline-block;
  width: 80%;
}

@media (max-width: 650px) {
  .consoles__consoles {
    width: 100%;
  }

  .consoles__search-options {
    text-align: center;
    display: block;
    position: relative;
    width: 90%;
    margin: auto;
    top: 0;
  }
}
