.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: url("http://127.0.0.1:8887/nintendoShop-wallpaper.jpg");
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
}

.header-top {
  background-color: black;
}

.row {
  height: 3rem;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
}

.info-link-nav {
}

.info-link-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.info-link-nav__item {
  margin: 0 0.5rem;
  color: white;
}

.info-link-nav__item a {
  color: white;
  text-decoration: none;
}

.main-header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #fdc90e;
}

.main-header__icon {
  margin-top: 0rem;
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
}

.main-nav {
  margin: auto;
  margin-right: 0;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 0.5rem;
}

.main-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.2rem;
}

.routes {
  margin-top: 8rem;
}
