.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: url("http://127.0.0.1:8887/nintendoShop-wallpaper.jpg");
  height: 100vh;
  width: 100vw;
}

.main-header {
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fdc90e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
.main-header__brand {
  height: 2.5rem;
}
*/
.main-header__icon {
  margin-top: 0rem;
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
}

.main-nav {
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.2rem;
}

.routes {
  margin-top: 5rem;
}
