.main-header {
  font-family: cursive;
  width: 100%;
  background: rgb(226, 204, 10);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
.main-header__brand {
  height: 2.5rem;
}
*/
.main-header__icon {
  margin-top: 1rem;
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
}

.main-nav {
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.2rem;
}
