@import "./../_variables.scss";
@import "Register1.scss";

.register-main {
  margin: auto;
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: /*$main-color*/ lighten(map-get($colors, main), 0%);
  border: $border-default;
}

.register {
  @extend .register-main;

  .header {
    position: relative;
    text-align: center;
    text-transform: uppercase;

    h4 {
      margin: 0;
      padding: 1rem;
      font-size: 18px;
      text-align: center;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: 0px solid black;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  form {
    padding: 0.5rem;
    background: white;

    .row {
      display: block;
    }

    .column {
      vertical-align: top;
      display: inline-block;
      width: 50%;
      padding: 0 10px;

      .form-group {
        margin-bottom: 15px;

        label {
          font: {
            size: 0.9rem;
            weight: 400;
          }
          color: #4a4b5c;
        }

        input[type="text"],
        input[type="password"] {
          height: 34px;
          width: 100%;
          border: 1px solid #cccc;
          border-radius: 5px;
          font-size: 14px;
          color: #555;
        }

        select {
          width: 100%;
          height: 34px;
          border: 1px solid #cccc;
          color: black;
          background: white;

          &:focus {
            outline: none;
          }
        }

        input[type="text"],
        label {
          display: block;
        }

        input:focus {
          outline: none;
        }

        input[type="radio"] {
          margin: 0;
        }

        label[for="genderType"] {
          padding: 5px;
          display: inline-block;
        }
      }
    }
  }

  .submit {
    text-align: center;

    button {
      height: $size-default * 2;
      width: 50%;
      background: rgb(0, 0, 0);
      font: {
        size: 12px;
        weight: 600;
      }
      color: white;
      cursor: pointer;
      text-transform: uppercase;
    }

    button:hover {
      background: white;
      color: black;
    }

    button:disabled {
      cursor: not-allowed;
      background: rgba(172, 24, 24, 0.5);
      color: rgb(255, 255, 255);
    }

    button:disabled:hover {
      color: rgba(140, 40, 40, 0.5);
      cursor: not-allowed;
    }
  }

  .error-message {
    margin-top: 1rem;
    font-weight: bold;
    color: red;
    text-align: center;
  }

  .login {
    width: 70%;
    margin: auto;
    text-align: center;
    height: 1.5rem;

    button {
      width: 100%;
      height: 100%;
      background-color: $main-color;
      border: 1px solid black;
      color: black;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background-color: #ffde67;
      }

      &:focus {
        outline: none;
      }
    }
  }

  @media (min-width: 40rem) {
    background-color: rgb(15, 165, 165);
  }
}

// @media (min-width: 40rem) {
//   /* min - When the window width is bigger then 640px */
//   /* max - When the window width is samller then 640px */
//   .register {
//     background-color: aqua;
//   }
// }
