.register {
  margin: auto;
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: #fdc90e;
}

.header {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.header h4 {
  margin: 0;
  padding: 1rem;
  font-size: 18px;
  text-align: center;
}

.header button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: 0px solid black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.register form {
  padding: 0.5rem;
  background: white;
}

.register form .column {
  vertical-align: top;
  display: inline-block;
  width: 50%;
  padding: 0 10px;
}

.form-group {
  margin-bottom: 15px;
}

.register form .column .form-group label {
  font-size: 0.9rem;
  font-weight: 400;
  color: #4a4b5c;
}

.register form .column .form-group input[type="text"],
.register form .column .form-group input[type="password"] {
  height: 34px;
  width: 100%;
  border: 1px solid #cccc;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
}

.register form .column .form-group input[type="text"],
.register form .column .form-group label {
  display: block;
}

.register form .column .form-group input:focus {
  outline: none;
}

.register form .column .form-group input[type="radio"] {
  margin: 0;
}

.register form .column .form-group label[for="genderType"] {
  padding: 5px;
  display: inline-block;
}

.submit {
  text-align: center;
}

.register .submit button {
  height: 2rem;
  width: 50%;
  background: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.register .submit button:hover {
  background: white;
  color: black;
}

.register .submit button:disabled {
  cursor: not-allowed;
  background: rgb(172, 24, 24, 0.5);
  color: rgb(255, 255, 255);
}

.register .submit button:disabled:hover {
  color: rgb(140, 40, 40, 0.5);
  cursor: not-allowed;
}

.register .error-message {
  margin-top: 1rem;
  font-weight: bold;
  color: red;
  text-align: center;
}

.register .login {
  width: 70%;
  margin: auto;
  text-align: center;
  height: 1.5rem;
}

.register .login button {
  width: 100%;
  height: 100%;
  background-color: #fdc90e;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

.register .login button:hover {
  background-color: #ffde67;
}

.register .login button:focus {
  outline: none;
}

@media (min-width: 40rem) {
  /* min - When the window width is bigger then 640px */
  /* max - When the window width is samller then 640px */
  .register {
    background-color: aqua;
  }
}
