.login {
  width: 40%;
  margin: auto;
  margin-top: 10rem;
  padding: 10px;
  background: #fdc90e;
  border: 2px black solid;
  text-align: center;
}

.login-title {
  margin: 10;
}

.login-form-group {
  width: 50%;
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
}

.login-form-group label {
  display: block;
}

.login-form-group input {
  width: 80%;
  height: 2rem;
  border-radius: 5px;
}

/* input.valid-input.yo {
  border: 2px green solid;
  border-radius: 25px;
} */

input.valid-input {
  border: 2px green solid;
  border-radius: 25px;
}

.invalid-input {
  border: 2px red solid;
}

.login-form-group input:focus {
  outline: none;
}

.login-submit-btn {
  margin-top: 10px;
  padding: 5px 20px;
  border: 2px solid black;
  background: lightskyblue;
  font-weight: bold;
  cursor: pointer;
}

.login-submit-btn:hover {
  color: white;
  background: green;
}

.login-submit-btn:disabled {
  color: white;
  background: red;
  opacity: 0.6;
  cursor: not-allowed;
}

.login-submit-btn:disabled:hover {
  background: firebrick;
  cursor: not-allowed;
}

label[for="newUser"] {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.login-register-btn {
  width: 40%;
  margin-top: 10px;
  padding: 5px 20px;
  border: 2px solid black;
  background: lightskyblue;
  font-weight: bold;
  cursor: pointer;
}

.login-register-btn:hover {
  color: white;
  background: green;
}
