.login {
  /* background-image: url("http://127.0.0.1:8887/Nintendo%20Wallpaper%203.jpg");
  background-size: 50% 50%;
  background-position: 100px 100px;
  background-repeat: no-repeat; */
  /* background-color: #fdc90e; */
  background-color: #fdc90e;
  width: 100%;
  max-width: 400px;
  margin: auto;
  border: 0px black solid;
}

.login-title {
  height: 70px;
  padding-top: 1.5rem;
  background-color: #fdc90e;
}

.login-title h1 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.login form {
  background-color: white;
}

.login-form-group {
  width: 90%;
  margin: auto;
  padding: 10px;
}

.login-form-group label,
.login-form-group input {
  display: block;
  width: 90%;
}

.login-form-group label {
  margin: auto;
  text-align: left;
  font-size: 0.8rem;
}

.login-form-group input {
  height: 2rem;
  margin: auto;
  border: 2px solid darkgray;
  border-radius: 5px;
}

input.valid-input {
  border: 2px green solid;
  border-radius: 25px;
}

.invalid-input {
  border: 2px red solid;
}

.login-form-group input:focus {
  outline: none;
}

label[for="forgotPassword"] {
  display: block;
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 12px;
  color: rgba(237, 5, 36, 1);
  cursor: pointer;
}

.login-submit-btn {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  padding: 5px 20px;
  border: 1px solid black;
  background: lightskyblue;
  font-weight: bold;
  cursor: pointer;
}

.login-submit-btn:hover {
  color: white;
  background: green;
}

.login-submit-btn:disabled {
  color: white;
  background: red;
  opacity: 0.5;
  cursor: not-allowed;
}

.login-submit-btn:disabled:hover {
  background: firebrick;
  cursor: not-allowed;
}

label[for="newUser"] {
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 2.5rem;
  font-weight: bold;
  font-size: 12px;
}

.login-register-btn {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #fdc90e;
  font-weight: bold;
  cursor: pointer;
  transition-property: width, border-radius;
  transition-duration: 1s;
}

.login-register-btn:hover {
  background-color: #ffde67;
  color: white;
  width: 80%;
  border-radius: 10px;
}
