select {
  background-color: #333333;
  color: white;
}

.console-search-filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  border-bottom: 1px white solid;
  padding: 0px;
  color: white;
}

.console-search-filter-title {
  margin-left: 5px;
  font-family: Calibri;
  font-size: 20px;
  font-weight: 400;
}

.console-search-sort-options {
  margin-left: auto;
  margin-right: 2%;
}

.console-search-show-options {
  margin-top: 0;
}

.console-search-sort-options label,
.console-search-show-options label {
  margin-right: 5px;
  margin-left: 5px;
}

.console-search-sort-options select:focus,
.console-search-show-options select:focus {
  outline: none;
}

@media (max-width: 650px) {
  .console-search-filter {
    flex-direction: column;
    align-items: center;
  }

  .console-search-show-options {
    margin-top: 0.5rem;
  }

  .console-search-sort-options {
    margin-left: 0;
    margin-right: 0;
  }
}
