.modal {
  width: 50%;
  position: fixed;
  top: 42%;
  left: 25%;
  z-index: 100;
  /* padding: 20px;
  border: 1px solid black; */
  /* background: white; */
  transition: all 1s ease-out;
  transform: translateY(-100vh);
  opacity: 0;
}

.showModal {
  transform: translateY(0);
  opacity: 1;
}
