.modal {
  /* border: 2px solid red; */
  width: 80%;
  max-width: 500px;
  /* max-width: 420px;
  min-width: 350px; */
  /* min-width: 24rem; */
  position: fixed;
  left: 50vw;
  z-index: 1500;
  transition: all 1s ease-out;
  transform: translateX(-50%) translateY(-100vh);
  opacity: 0;

  /* padding: 20px;
  border: 1px solid black; */
  /* background: white; */
}

.showModal {
  transform: translateX(-50%) translateY(0vh);
  opacity: 1;
}
